.contact-form {
  z-index: 3;
  height: 100vh;

  .row {
    @include media("<=phone") {
      flex-direction: column;
    }
    .left {
      background: $red-secondary;
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media("<=phone") {
        width: 100%;
      }

      .inquiry-type-menu {
        margin: 0 1.5rem;
        h3 {
          font-size: 1.2rem;
          font-weight: 100;

          @include media("<=phone") {
            margin-top: 180px;
            font-size: 1rem;
          }
        }

        ul {
          margin: 3rem 0;
          padding: 0;
          li {
            color: $text-unfocused;
            list-style: none;
            font-size: 2.8rem;
            font-weight: 600;
            margin-bottom: 1.2rem;
            cursor: pointer;

            @include media("<=tablet") {
              margin-bottom: 1rem;
              font-size: 2rem;
            }

            @include media("<=phone") {
              font-size: 1.8rem;
            }

            // &.focused {
            //     color: $black;
            // }
          }
        }
      }
    }

    .right {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 1rem 0;

      @include media("<=phone") {
        width: 100%;
      }

      .inquiry-form {
        form {
          .form-columns {
            display: flex;
            flex-wrap: wrap;
            margin: 0 1rem;

            .form-column {
              min-width: 180px;
              display: flex;
              flex-direction: column;
              margin: 1rem;

              @include media('<=1316px') {
                width: 80%;
            }

              input,
              textarea {
                width: 100%;
                font-size: 2rem;
                color: $text-secondary;
                min-height: 50px;
                height: 100%;
                border: none;

                &::placeholder {
                  font-size: 2rem;
                  color: $text-secondary;
                }

                &:focus {
                  outline: none;
                }
              }

              input {
                margin-bottom: 1rem;
                border-bottom: 1px solid $text-secondary;
              }

              textarea {
                border-bottom: none;

                @include media('<=1316px') {
                    width: 100%;
                    min-height: 100px;
                }
              }

              &:nth-child(2) {
                textarea {
                  height: 100%;
                }
              }
            }
          }

          .submit-btn-row {
            margin: 0 2rem;

            button {
              color: $black;
              font-size: 1.5rem;
              font-weight: 700;
              border: none;
              background: none;
              cursor: pointer;

              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}
