.overlay {
  width: 100%;
  z-index: 8;

  .overlay-top {
    position: absolute;
    height: 50vh;
    width: 100%;

    .top {
      position: absolute;
      background: $black;
      height: 100%;
      width: 33.333vw;
      bottom: 0;
      left: 0;
      right: 0;

      @include media("<=tablet") {
        width: 100%;
      }

      &:nth-child(2) {
        left: 33.333%;

        @include media("<=tablet") {
          display: none;
        }
      }

      &:nth-child(3) {
        left: 66.666%;

        @include media("<=tablet") {
          display: none;
        }
      }
    }
  }

  .overlay-bottom {
    position: absolute;
    height: 50vh;
    width: 100%;
    z-index: 8;
    bottom: 0;

    .bottom {
      position: absolute;
      background: $red-primary;
      height: 100%;
      width: 33.333vw;
      bottom: 0;
      right: 66.666%;

      @include media("<=tablet") {
        right: 0;
        width: 100%;
      }

      &:nth-child(2) {
        right: 33.333%;

        @include media("<=tablet") {
          width: 100%;
          top: 100%;
          right: 0;
        }
      }

      &:nth-child(3) {
        right: 0;

        @include media("<=tablet") {
          width: 100%;
          top: 200%;
        }
      }
    }
  }
}
